body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}
body::before {
    content: "";
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
 display: flex;   
 background-color:#5899d6e9;
 margin: auto;
 align-items: center;
 height: 50px;
 z-index: 2;
}

.logo-container,
 .nav-links{
     display: flex;
 }

 .logo-container{
    padding-left: 160px
 }

.logo-container img{
    width: 28px;
    height: auto;
    position: relative;
}

 .nav-links{
     justify-content: space-around;
     list-style: none;
 }

 .nav-link {
    color: #2f1e1e;
    box-sizing: content-box;
    font-family: Oracle Sans;
    font-size: 14px;
    width: fit-content;
    text-decoration: none;
    font-weight: 500;
    margin: 0px 20px;
    justify-content: center;
 }

 .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(190, 112, 112, 0);
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #215fd2;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #131dda;
  }
  
  .navbar-item-right {
    margin-left: 10px;
    position: absolute;
    right: 0;
    line-height: 0;
    text-decoration: none;
  }

  
  a{
    outline:none;
    text-decoration: none;
    color: #2f1e1e;
   }

/* 
   .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;

   } */
   .form-popup {
    position: fixed;
    height: 25rem;
    width: 22rem;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    top: 180px;
    left: 500px;
    border-radius: 20px 20px 20px 20px;
    
  }
  


   .open-button {
    background-color: #1b5ea1;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 200px;
  }
  
  

  
  /* Full-width input fields */
  .form-popup input[type=text], .form-popup input[type=password] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-popup input[type=text]:focus, .form-popup input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-popup .btn {
    background-color: #0468aa;
    color: white;
    padding: 16px 20px;
    border: 10px;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-popup .cancel {
    background-color: rgb(255, 0, 0);
  }
  
  /* Add some hover effects to buttons */
  .form-popup .btn:hover, .open-button:hover {
    opacity: 1;
  }

 .housemain{
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .h2text{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: em;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
  }

  input[type="text"],
  input[type="email"] {
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
  }
  
/* slider */
 /* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
.image-body {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    margin-top:1%;
    margin-bottom:0%;


}
.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
  
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 100px;
    width: 100%;
    transition: all 0.15s ease;
    object-fit:cover;
    height: auto;


}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    background: rgb(15, 30, 160);
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left:0
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left:0
}
#img5:checked ~ .m5 {
    margin-left: -100%;
}
#img6:checked ~ .m6 {
    margin-left: -200%;
}

#img7:checked ~ .m7 {
    margin-left:0
}
#img8:checked ~ .m8 {
    margin-left: -100%;
}
#img9:checked ~ .m9 {
    margin-left: -200%;
}




.image-wrapper img {
    float: right;
    margin-left: 40px;
  } */
  
.image-wrapper p {
    overflow: hidden;
  }


